body {
    background: linear-gradient(to right, #101023, #192155); /* Rosso a Blu */
    font-family: Arial, sans-serif;
    color: white;
}

h1, .title {
    background: linear-gradient(to right, #CB2376, #FF00D6);
    -webkit-background-clip: text; /* Specifico per WebKit (Safari/Chrome) */
    -webkit-text-fill-color: transparent; /* Specifico per WebKit (Safari/Chrome) */
    background-clip: text;
    color: transparent;
}

.img-card {
width: 400px;
height: 200px;
}

.placeholder-image {
    width: 100%;
    height: 200px; /* Imposta l'altezza desiderata */
    background-color: #868e96; /* Colore grigio per il placeholder */
    border-radius: 0.25rem; /* Opzionale: per arrotondare gli angoli */
}

.detailImg {
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.fit-content {
    width: fit-content;
  }


  .butcolor {
    color: white; /* Colore del testo */
    background: #CB2376; /* Sfondo trasparente */
}

.butcolor:hover {
    background-color: #CB2376;
    color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.containerCard {
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    border-color: #161b44;
    background-color: transparent;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}